body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50%;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


img {
  display: block;
  max-width: 100%;
}

.title-done-btn {
  display: none;
}

.tooltip {
  background-color: #000;
  bottom: -10px;
  border-radius: 3px;
  color: #fff;
  left: 10px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity 0.3s;
}

.togglers {
  align-items: center;
  display: flex;
  margin-bottom: 90px;
  margin-top: -40px;
}

.togglers button {
  margin-right: 10px;
}

.togglers button:last-child {
  margin-right: 0;
}

.button {
  background: linear-gradient(to bottom, #3cacfc 0%, #189af8 100%);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow:
    0 0 2px var(--color-border),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  line-height: 1;
  min-width: 140px;
  padding: 12px;
  position: relative;
  text-shadow: 1px 1px 2px var(--color-border);
}

.button:focus,
.button.focus {
  outline: none;
}

.button:focus::before,
.button.focus::before {
  border-radius: var(--border-radius);
  box-shadow: 0 0 1px 2px #94d0ff;
  content: "";
  height: calc(100% + 6px);
  left: -3px;
  position: absolute;
  top: -3px;
  width: calc(100% + 6px);
}

.button:active,
.button.active {
  background: linear-gradient(to bottom, #3ca0eb 0%, #168be1 100%);
  background-color: var(--color-background-active);
  box-shadow: 0 0 2px var(--color-border);
}
